body {
    align-items: center;
}

/* Styling for container, stretches background-image */
.container-fluid {
    background-position: center;
    background-image: url('https://cdn.hipwallpaper.com/i/31/79/YqUKl3.png');
    background-size: cover;
    padding-bottom: 56.25%;
    align-items: center;
    max-width: 200%;
    z-index: 1;

}

/* Positions jumbotron in the center */
#jumbo {
     position: absolute;
     top: 25%;
     left:50%;
     transform: translate(-50%, -50%);
}
/* Sets opacity of jumbotron, size, margin, and color */
.jumbotron {
    opacity: 0.8;
    max-width: 50%;
    background-color: rgb(33, 231, 202);
    z-index: 2;
    margin-top: 200px;
}
/* When hovering, change color */
.jumbotron:hover {
    background-color: rgb(165, 35, 188);
    color: white;
}
/* Gives background image flex */
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/* Media Queries */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}